body{
  color: greenyellow;
  background-color: purple;
}
span{
  font-size: 30px;
}
#camera , #result{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_gesture_name{
  color: black;
}
.gesture_name{
  font-size: 40px;
}
.gesture{
  font-size:48px;
}
